body {
	background-color: #504a4a;
	color: #f78f3f;
}

button {
	background-color: #000000;
}

.characterCard {
	border: 5px solid black;
	height: 550px;
	margin: .5%;
	border-radius: 5%;
}

.characterImage {
	border-radius: 100%;
}

.team-selector {
	margin: 0 1%;
}

#brand-logo {
	width: 150px;
	height: 70px;
}

#body-placeholder {
	width: 600px;
	height: 250px;
}

#character-container {
	padding: 4%;
	text-align: center;
}

.Male {
	border: 4px solid blue;
}

.Female {
	border: 4px solid pink;
}